body{
    background-image: url(./image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.cntry{
    padding-top: 200px;
}
.button_one{
    margin-top: 50px;
    border-radius: 50px;
}